<div class="sidebar" [class.collapsed]="isCollapsed">
    <fa-icon class="toggle-btn" [icon]="chevronLeft" (click)="toggleCollapse()" [class.rotated]="isCollapsed"></fa-icon>
    <div class="resize-handle" #resizeHandle (mousedown)="initResize($event)"></div>
    <!-- <button (click)="toggleCollapse()" class="toggle-btn">&#9664;</button> -->
    <!-- <button (click)="toggleCollapse()">Toggle</button> -->
    <ul class="menu">
        <li><h3>{{currentProjectName}}</h3></li>
        <li><button (click)="loadTimeline()">Timeline</button></li>
        <li><button (click)="loadKanban()">Board</button></li>
        <li><button (click)="loadIssuesPage()">Issues</button></li>
    </ul>
</div>