:root {
    --sidebar-width: 250px; /* Default width */
}
.sidebar {
    width: var(--sidebar-width);
    position: relative;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #333;
    color: #fff;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 50px;
}

.menu {
    list-style: none;
    padding: 20px;
    margin: 0;
}
h3{
    text-wrap: nowrap;
}
.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
.menu li  h3{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    margin-left: 20%;
}

.menu li a:hover {
    background-color: #555;
}
.menu li button {
    width: 90%;
    background-color: #c2185b; /* Primary color, you can customize it */
    color: white; /* Text color */
    padding: 10px 15px; /* Padding for better touch area and visual spacing */
    border: none; /* Remove default borders */
    border-radius: 5px; /* Rounded corners */
    text-align: left; /* Align text to the left */
    font-size: 16px; /* Slightly larger text for better readability */
    cursor: pointer; /* Cursor indicates clickable item */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for interactions */
    margin: 5px 0; /* Spacing between buttons */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for 3D effect */
}

.menu li button:hover {
    background-color: #90506a; /* Darker shade on hover/focus for feedback */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Enhanced shadow on hover/focus */
    outline: none; /* Remove focus outline, replace or modify as per accessibility guidelines */
}

.menu li button:focus{
    background-color: white;
    color: #333;
}


.toggle-btn {
    display: inline-block; /* This makes CSS transforms applicable */
    position: relative;
    top: 20px; /* Positions the button 20px from the top of the sidebar */
    right: -100%;
    padding: 5px 10px;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #555; /* Adds a subtle separator */
    border-radius: 0 3px 3px 0;
    transition: background-color 0.3s, transform 0.3s;
}

.toggle-btn:hover {
    background-color: #555;
}
.rotated {
    transform: rotate(180deg); /* Rotates the icon 180 degrees */
    border-radius: 3px 0px 0px 3px;
    transform-origin: center;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px; /* Control the width of the draggable area */
    height: 100%;
    cursor: ew-resize; /* Cursor indicates resizable area */
    background-color: #666; /* Optional: makes the handle more visible */
}