<h2 mat-dialog-title>Create New Issue</h2>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="issueForm" class="issue-form">
    <section>
        <mat-form-field appearance="fill" class="full-width-field">
            <mat-label>Summary</mat-label>
            <input matInput formControlName="summary">
        </mat-form-field>
        <mat-form-field appearance="fill" class="wide-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" class="resize-textarea"></textarea>
        </mat-form-field>
    </section>
    <section>
        <mat-form-field appearance="fill" class="full-width-field">
            <mat-label>Issue Type</mat-label>
            <mat-select formControlName="issueType">
              <mat-option value="Story">Story</mat-option>
              <mat-option value="Epic">Epic</mat-option>
              <mat-option value="Bug">Bug</mat-option>
              <mat-option value="Task">Task</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width-field">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="To Do">To Do</mat-option>
              <mat-option value="In Progress">In Progress</mat-option>
              <mat-option value="Done">Done</mat-option>
            </mat-select>
        </mat-form-field>
    </section>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
  <button mat-button cdkFocusInitial  [mat-dialog-close]="true" formAction="submit" (click)="onSaveClick()" [disabled]="!issueForm.valid" class="create-button">Create</button>
</div>
